@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?8056623');
    src: url('../font/fontello.eot?8056623#iefix') format('embedded-opentype'), url('../font/fontello.woff2?8056623') format('woff2'), url('../font/fontello.woff?8056623') format('woff'), url('../font/fontello.ttf?8056623') format('truetype'), url('../font/fontello.svg?8056623#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8056623#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-menu-1:before {
    content: '\e800';
    cursor: pointer;
}


/* '' */

.icon-linkedin:before {
    content: '\e801';
}


/* '' */

.icon-twitter-2:before {
    content: '\e802';
}


/* '' */

.icon-behance:before {
    content: '\e803';
}


/* '' */

.icon-tumblr:before {
    content: '\e804';
}


/* '' */

.icon-facebook-3:before {
    content: '\e808';
}


/* '' */

.icon-gplus:before {
    content: '\e809';
}


/* '' */

html {
    font-size: 26px;
    min-width: 320px;
}

body {
    margin: 0;
    padding: 2.36% 3.47% 6.36%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    position: relative;
    margin-bottom: 1.31%;
    height: 24px;
}

.main-header div {
    position: absolute;
    color: #000;
}

.main-header a {
    color: #000;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-menu-list {
    display: none;
    background: #fff;
    padding: 0 5px 10px;
    border: 1px solid;
    border-top: 0;
}

.header-menu-list li {
    border-bottom: 1px solid;
}

.active {
    display: block;
}

.header-email {
    left: 0;
    top: 0;
    letter-spacing: -0.1em;
}

.header-fixs {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    font-weight: bold;
    letter-spacing: -0.1em;
}

.header-menu {
    right: 0;
    top: 0;
    text-align: right;
    z-index: 1;
}

.task-management-wrap {
    overflow: hidden;
}

.task-management {
    position: relative;
    min-width: 636px;
}

.task-management-content {
    position: absolute;
    left: 8%;
    top: 29%;
    color: #fff;
    width: 29%;
    min-width: 270px;
    height: 63%;
    box-sizing: border-box;
    overflow: hidden;
}

.task-management-content h3 {
    font-size: 2.11rem;
    font-weight: bold;
    margin: 0 0 5%;
}

.task-management-content p {
    font-family: 'Helvetica_Light-Normal', sans-serif;
    margin-bottom: 10%;
    width: 70%;
}

.btn {
    color: #fff;
    border-radius: 5px;
    background: #ff8758;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.54rem;
    padding: 20px 35px;
    display: inline-block;
}

.task-management img {
    width: 100%;
    /*    min-width: 800px;*/
    vertical-align: middle;
}

.about-us {
    position: relative;
    background: #f4f4f4;
    font-family: 'Kreon', serif;
    font-size: 1.85rem;
    padding-left: 5%;
}

.about-us-text::before {
    content: "";
    display: inline-block;
    margin-bottom: 3%;
}

.about-us-text::after {
    content: "";
    display: block;
    margin-bottom: 3%;
}

.about-us-video {
    position: relative;
    float: right;
    width: 33%;
    box-sizing: border-box;
    margin-left: 5%;
}

.about-us-video video {
    width: 100%;
    vertical-align: top;
}

.about-us-video::before {
    content: "";
    display: block;
    width: 27%;
    height: 37%;
    background: url("../images/play-btn.png") no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

.header-section {
    margin: 2.89% auto 2.63%;
    text-align: center;
    letter-spacing: -0.1em;
    text-transform: uppercase;
}

.header-section::after {
    content: "";
    display: block;
    height: 7px;
    width: 49px;
    margin: auto;
    background: url("../images/spritesheet.png") no-repeat -5px -407px;
    margin-top: 10px;
}

.projects {
    font-size: 0;
}

.projects div {
    display: inline-block;
    vertical-align: top;
}

.projects div:first-child {
    width: 50%;
    position: relative;
    overflow: auto;
}

.projects img {
    width: 100%;
}

.project-text {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -190px;
    width: 380px;
    text-align: center;
    color: #fff;
    font-size: .69rem;
}

.project-text p:first-child {
    font-weight: bold;
    letter-spacing: 0.2em;
}

.project-text h3 {
    letter-spacing: -0.1em;
    margin: 5.26% 0;
    font-size: 1rem;
}

.project-text p:last-of-type {
    font-family: 'Helvetica_Light-Normal', sans-serif;
    line-height: 2;
    margin-bottom: 11.84%;
}

.project-text a {
    font-size: .69rem;
    padding: 22px 60px;
}

.group-project {
    width: 50%;
}

.group-project div:first-child,
.group-project div:nth-child(2) {
    width: 50%;
}

.group-project div:last-child {
    width: 100%;
}

.projects>div:nth-child(3) {
    width: 50%;
}

.projects>div:nth-child(4),
.projects>div:nth-child(5) {
    width: 25%;
}

.news {
    font-size: 0;
    background-color: #f5f5f5;
}

.news>div {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
}

.news>div:not(:first-child) {
    padding-bottom: 2.37%;
}

.news div:nth-child(2) h3 {
    margin: 13.55% 24.18% 4.97%;
}

.news div:nth-child(2) p {
    margin: 4.97% 25% 9.03%;
}

.news div:nth-child(3) h3,
.news div:nth-child(4) h3 {
    margin: 9.3% 24.18% 1%;
}

.news div:nth-child(3) p,
.news div:nth-child(4) p {
    margin: 4.37% 26.59% 8.55%;
}

.news img {
    width: 100%;
}

.news h3 {
    font-size: .77rem;
    text-transform: uppercase;
}

.news time,
.news p {
    font-family: 'Helvetica_Light-Normal', sans-serif;
    font-size: .69rem;
    color: #7a7a7a;
    font-weight: bold;
    line-height: 1.7;
}

.news p {
    color: #000;
}

.news .btn {
    padding: 21px 41px;
}

.packages {
    background-color: #f5f5f5;
    padding: 4.85%;
    text-align: justify;
}

.packages::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 0;
}

.packages>div {
    display: inline-block;
    vertical-align: top;
    width: 23.65%;
    background-color: #fff;
    text-align: center;
    overflow: auto;
}

.package-price {
    background-color: #222222;
    color: #a6a6a6;
    font-size: .69rem;
    font-weight: bold;
    letter-spacing: .2em;
    line-height: 1.5;
    padding: 12.69% 5% 11.11%;
    text-align: center;
}

.package-price p {
    font-size: 2.23rem;
    color: #fff;
    line-height: .63;
    letter-spacing: -.1em;
    margin: 0 auto 10px;
}

.packages>div>p {
    font-size: .62rem;
    line-height: 3;
    font-family: 'Helvetica_Light-Normal', sans-serif;
    margin: 6.61% 25.45% 9.25%;
    font-weight: bold;
}

.packages .btn {
    padding: 22px 80px;
    background-color: #222;
    display: inline-block;
    margin-bottom: 13.22%;
}

.packages .btn:hover {
    background-color: #ff8758;
}

.header-people {
    margin-bottom: 13%;
}

.people {
    position: relative;
}

.people img {
    width: 100%;
}

.wrap-hidden {
    overflow: hidden;
}

input[name="slide-radio"] {
    display: none;
}

.people .labels {
    position: absolute;
    bottom: 7.73%;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}

.people .labels label {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fecdba;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
}

input[id="slide-radio-one"]:checked~.labels label[for="slide-radio-one"],
input[id="slide-radio-two"]:checked~.labels label[for="slide-radio-two"],
input[id="slide-radio-three"]:checked~.labels label[for="slide-radio-three"] {
    background: #fff;
}

.slides {
    display: none;
    position: absolute;
    bottom: 22.6%;
    left: 5%;
    width: 90%;
    text-align: justify;
    overflow: hidden;
}

.slides::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    vertical-align: top;
}

.slides figure {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 18.47%;
    background-color: #fff;
    font-size: .77rem;
}

.slides h3 {
    text-transform: uppercase;
    margin: 12.5% 0 3.37%;
}

.slides p {
    color: #9d9d9d;
    margin: 3.37% 0 15%;
}

input[id="slide-radio-one"]:checked~.slide-one,
input[id="slide-radio-two"]:checked~.slide-two,
input[id="slide-radio-three"]:checked~.slide-three {
    display: block;
}

.we-work {
    position: relative;
    font-size: 0;
}

.controls {
    position: absolute;
    text-align: center;
    width: 53.5%;
    height: 3.97%;
    bottom: 5.3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #333333;
    padding: 1.41% 1.69%;
    font-size: 0;
}

.controls>div {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.play-pause {
    width: 2%;
    height: 100%;
    background: url("../images/play-pause.png") no-repeat center;
    background-size: contain;
    margin-right: 3.1%;
}

.band {
    width: 75.07%;
    height: 18.75%;
    background: #565656;
    border-radius: 5px;
    margin-right: 3.1%;
}

.filling {
    width: 35%;
    height: 100%;
    background: #ff8758;
    border-radius: 5px;
}

.timer {
    width: 5.7%;
    color: #fff;
    font-size: .77rem;
    font-weight: bold;
    margin-right: 3.1%;
}

.volume {
    width: 2.7%;
    height: 59.37%;
    margin-right: 2.95%;
    font-size: 0;
}

.volume div {
    display: inline-block;
    vertical-align: bottom;
    width: 12%;
    margin-right: 10%;
    background: #fff;
}

.volume .volume-1 {
    height: 26.31%;
    background: #ff8758;
}

.volume .volume-2 {
    height: 36.84%;
    background: #ff8758;
}

.volume .volume-3 {
    height: 52.63%;
    background: #ff8758;
}

.volume-4 {
    height: 68.42%;
}

.volume .volume-5 {
    height: 100%;
    margin-right: 0;
}

.expand {
    width: 2.11%;
    height: 62.5%;
    background: url("../images/expand.png") no-repeat center;
    background-size: contain;
}

.contact {
    position: relative;
}

.map {
    float: left;
    position: absolute;
    width: 66%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.info {
    float: right;
    width: 34%;
    box-sizing: border-box;
    background: #2e2e2e;
    color: #fff;
    text-align: center;
    padding: 3.95%;
}

.info h3 {
    font-size: .54rem;
    text-transform: uppercase;
    margin: 14.8% auto 2.9%;
}

.contact-info {
    font-family: 'Helvetica_Light-Normal', sans-serif;
    font-size: .69rem;
    line-height: 2;
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.contact-info::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #3c3c3c;
    margin-top: 8.73%;
}

.contact-info a {
    color: #fff;
    font-family: 'Helvetica_Light-Normal', sans-serif;
    font-size: .69rem;
    line-height: 2;
}

.contact-info span::after,
.contact-info a:nth-child(2)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: .75rem;
    background: #3c3c3c;
    margin: 0 4.33%;
    vertical-align: middle;
}

.info>h3:last-of-type {
    margin: 9.74% 0 3.68%;
}

.info p {
    font-family: 'Helvetica_Light-Normal', sans-serif;
    font-size: .62rem;
    color: #818181;
    line-height: 2;
    margin-bottom: 8%;
}

.feedback-form {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    overflow: auto;
}

.feedback-form h3 {
    font-size: 5rem;
    margin: 2.31% 0 2.48%;
}

.wrapper-form {
    position: relative;
    width: 56.35%;
    min-width: 440px;
    margin: 0 auto 2.89%;
}

.wrapper-form>div:first-child {
    float: left;
    width: 48%;
}

.wrapper-form input,
.wrapper-form textarea {
    background-color: #1b1b1b;
    color: #fff;
    font-size: .54rem;
    padding: 6.83% 5.77%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    margin-bottom: 6.19%;
}

.wrapper-form input::-webkit-input-placeholder,
.wrapper-form textarea::-webkit-input-placeholder {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

.wrapper-form input::-moz-placeholder,
.wrapper-form textarea::-moz-placeholder {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

.wrapper-form input:-ms-input-placeholder,
.wrapper-form textarea:-ms-input-placeholder {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

.wrapper-form input::placeholder,
.wrapper-form textarea::placeholder {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

input[name="subject"] {
    margin-bottom: 0;
}

.wrapper-form>div:last-child {
    float: right;
    width: 48%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

textarea[name="message"] {
    height: 100%;
}

button[name="feedback"] {
    border: none;
    outline: none;
    padding: 21px 110px;
    cursor: pointer;
    margin-bottom: 8.09%;
}

footer {
    background: #000;
}

.wrapper-footer {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
    padding-bottom: 1.53%;
    position: relative;
}

.wrapper-footer>div {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

.wrapper-footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #282828;
    margin-bottom: 2.63%;
}

.wrapper-footer::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    vertical-align: top;
}

.email-footer a {
    color: #575757;
    font-weight: bold;
    font-size: .54rem;
}

.fixs-footer {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.fixs-footer a {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.social-footer a {
    color: #fff;
    margin-left: 1.2rem;
    font-size: 1rem;
}

.social-footer a:first-child {
    margin-left: 0;
}

@media only screen and (max-width:1600px) {
    html {
        font-size: 21.9px;
    }
}

@media only screen and (max-width:1410px) {
    html {
        font-size: 19.3px;
    }
}

@media only screen and (max-width:1290px) {
    .task-management-content h3 {
        font-size: 1.7rem;
    }
    .btn {
        padding: 15px 25px;
    }
    .about-us {
        font-size: 1.5rem;
    }
    .header-section {
        font-size: 1.2rem;
    }
    .project-text p:last-of-type {
        font-size: .8rem;
    }
    .project-text a {
        padding: 15px 35px;
        ;
    }
    .news .btn {
        padding: 15px 35px;
    }
    .package-price p {
        font-size: 1.8rem;
    }
    .package-price {
        font-size: .6rem;
    }
    .packages .btn {
        padding: 15px 35px;
    }
    .people .labels label {
        width: 8px;
        height: 8px;
    }
    .timer {
        font-size: .7rem;
    }
    .feedback-form h3 {
        font-size: 3rem;
    }
    button[name="feedback"] {
        padding: 15px 65px;
        ;
    }
}

@media only screen and (max-width:1150px) {
    .task-management-content h3 {
        font-size: 1.5rem;
    }
    .header-section {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1010px) {
    .project-text {
        margin-left: -140px;
        width: 280px;
    }
    .task-management-content h3 {
        font-size: 1.3rem
    }
    .task-management-content p {
        font-size: .85rem;
    }
    .about-us {
        font-size: 1.3rem;
    }
    .package-price p {
        font-size: 1.4rem;
    }
    .package-price {
        font-size: .5rem;
    }
    .slides figure {
        font-size: .6rem;
    }
    .feedback-form h3 {
        font-size: 2.4rem;
    }
    .email-footer a {
        font-size: .6rem;
    }
    .packages>div>p {
        font-size: .7rem;
        margin: 6.61% 15.45% 9.25%;
    }
    .news>div:not(:first-child) h3,
    .news>div:not(:first-child) p {
        margin-left: 20px;
        margin-right: 20px;
        ;
    }
    .timer {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 890px) {
    .task-management-content {
        top: 10%;
        height: 90%;
    }
    .project-text {
        top: 20%;
    }
    .news>div {
        width: 50%;
    }
    .news>div:not(:first-child) h3,
    .news>div:not(:first-child) p {
        margin-left: 25%;
        margin-right: 25%;
    }
    .news>div:not(:first-child) h3 {
        margin-top: 15%;
    }
    .packages>div {
        width: 46%;
        margin-bottom: 7%;
    }
    .packages {
        padding-bottom: 0;
    }
    .slides figure:last-child {
        display: none;
    }
    .slides figure {
        width: 23%;
    }
    .wrap-hidden img {
        width: 135%;
    }
    .controls {
        height: 15px;
    }
    .timer {
        font-size: .5rem;
    }
    .fixs-footer a,
    .social-footer a {
        font-size: .8rem;
    }
    .about-us-video {
        width: 43%;
    }
    .fixs-footer {
        position: static;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    .social-footer {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .task-management-content {
        left: 4%;
    }
    .about-us-video {
        width: 50%;
    }
    .project-text {
        top: 5%;
        margin-left: -100px;
        width: 200px;
    }
    .slides figure:nth-child(4) {
        display: none;
    }
    .slides figure {
        width: 30%;
    }
    .wrap-hidden img {
        width: 165%;
    }
    .header-people {
        margin-bottom: 18%;
    }
    .people .labels label {
        margin-right: 25px;
    }
    .controls {
        width: 370px;
    }
    .timer {
        font-size: .45rem;
    }
}

@media only screen and (max-width: 600px) {
    .about-us {
        padding-left: 0;
        display: table;
    }
    .about-us-video {
        width: 100%;
        margin-left: 0;
    }
    .about-us-text {
        display: table-header-group;
    }
    .about-us-text div {
        padding: 0 3%;
        text-align: center;
    }
    .projects>div {
        display: block;
        width: 100%;
    }
    .group-project div:last-child {
        display: none;
    }
    .projects>div:nth-child(4),
    .projects>div:nth-child(5) {
        display: none;
    }
    .projects>div:nth-child(3) {
        width: 100%;
    }
    .projects>div:nth-child(1) {
        width: 100%;
    }
    .project-text {
        top: 20%;
        width: 300px;
        margin-left: -150px;
    }
    .slides figure:nth-child(3) {
        display: none;
    }
    .slides figure {
        width: 47%;
    }
    .wrap-hidden img {
        width: 235%;
    }
    .header-people {
        margin-bottom: 27%;
    }
    .contact {
        display: table;
        width: 100%
    }
    .contact>div {
        position: static;
        float: none;
        width: 100%;
    }
    .map {
        display: table-footer-group;
    }
    .map iframe {
        height: 300px;
    }
    .info {
        display: table-header-group;
    }
    .wrapper-form {
        width: 90%;
        min-width: 242px;
    }
    .feedback-form .wrapper-form>div {
        float: none;
        position: static;
        width: 100%;
    }
    input[name="subject"] {
        margin-bottom: 6.19%;
    }
}

@media only screen and (max-width: 480px) {
    .header-fixs {
        display: none;
    }
    .news>div:first-child,
    .news>div:nth-child(2) {
        display: none;
    }
    .news>div {
        width: 100%;
    }
    .packages>div {
        width: 100%;
    }
    .slides figure:nth-child(2) {
        display: none;
    }
    .slides figure {
        width: 100%;
    }
    .wrap-hidden img {
        width: 465%;
    }
    .header-people {
        margin-bottom: 52%;
    }
    .controls {
        max-width: 95%;
    }
    .play-pause {
        width: 3%;
        margin-right: 6%;
    }
    .band {
        width: 55%;
        margin-right: 6%;
    }
    .timer {
        width: 7.7%;
        margin-right: 6%;
    }
    .volume {
        width: 4.7%;
        margin-right: 6%;
    }
    .expand {
        width: 4.11%;
    }
}

@media only screen and (max-width: 400px) {
    .project-text {
        top: 5%;
        margin-left: -120px;
        width: 240px;
    }
}