
.icon-menu-1:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-twitter-2:before { content: '\e802'; } /* '' */
.icon-behance:before { content: '\e803'; } /* '' */
.icon-tumblr:before { content: '\e804'; } /* '' */
.icon-facebook-3:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */